<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEV</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body">

    <!-- 固定ナビゲーション -->
    <div class="position-fixed top-50 end-0 translate-middle-y d-flex flex-column me-3 body" style="z-index: 100;">
        <a href="#title__" class="btn btn-primary mb-2">▲</a>
        <a href="#form__" class="btn btn-danger">▼</a>
    </div>

    <div class="container mt-5">
        <!-- スレッド一覧 -->
        <div class="card body">
            <div class="card-header bg-primary text-white">
                <h3>設定</h3>
            </div>
            <br>
            <div class="mt-5">
                <form method="post">
                    <p><b>NGワード</b></p>
                    <p>特定のワードが入った投稿を非表示にします。半角空白で区切ります。</p>
                    <div class="mb-2">
                        <label for="ngword" class="form-label">NGワード</label>
                        <input type="text" id="ngword" name="ngword" class="form-control" value="{{ ngword }}">
                    </div>
                    <hr>
                    <p><b>ID非表示モード</b></p>
                    <p>IDを隠します。</p>
                    <div class="mb-2">
                        {% if hide_id %}
                        <input type="checkbox" name="hide_id" checked>
                        {% else %}
                        <input type="checkbox" name="hide_id">
                        {% endif %}
                    </div>
                    <hr>
                    <p><b>名前非表示モード</b></p>
                    <p>名前を隠します。</p>
                    <div class="mb-2">
                        {% if hide_name %}
                        <input type="checkbox" name="hide_name" checked>
                        {% else %}
                        <input type="checkbox" name="hide_name">
                        {% endif %}
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-danger">適用</button>

                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- フッター -->
    <!-- フッター -->
    <div class="bottom-nav mt-4 text-center bg-dark text-white py-3 position-fixed" style="bottom:0px; width:100vw" id="PAGE-2">
        <button onclick="history.back()" class="btn btn-secondary">◀</button>
        <span class="mx-2"></span>
        <button onclick="history.forward()" class="btn btn-secondary">▶</button>
        <span class="mx-2"></span>
        <button onclick="history.back()" class="btn btn-secondary">🏡</button>
        <span class="mx-2"></span>
        <a href="/" class="btn btn-primary">V</a>
        <span class="mx-2"></span>
        <a href="/setting" class="btn btn-danger">⚙</a>
        <span class="mx-2"></span>
        <button id="dark-change" class="btn btn-secondary">🌙</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/darkmode.js"></script>

</body>
</body>
</html>
