<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEV</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/xmas.css">
</head>
<body class="body">

    <!-- 固定ナビゲーション -->
    <div class="position-fixed top-50 end-0 translate-middle-y d-flex flex-column me-3 body" style="z-index: 100;">
        <a href="#title__" class="btn btn-primary mb-2">▲</a>
        <a href="#form__" class="btn btn-danger">▼</a>
    </div>

    <div class="container mt-5 body">
        <div class="thread-card body">
            <h1 id="title__" class="text-danger">{{thread.title}}</h1>
            <small class="text-muted">{{thread.thrid}}</small><br>
            <a href="/{{instance_id}}" class="btn btn-secondary btn-sm">掲示板に戻る</a>
            <a href="/" class="btn btn-secondary btn-sm">VEV</a>

            <hr>
            <!-- スレッド内容 -->
            <div id="thr">
                {% for item in thread.contents %}
                <div class="response body" id="r{{loop.index}}">
                    <strong><a onclick="reply('{{loop.index}}')" class="body reply-button text-primary">{{loop.index}}</a>:
                        <span class="body">{% if not hide_name %}{{item.name}}{% else %}名無し{% endif %}</span>　
                        <small class="body ">{{item.timestamp}}{% if not hide_id %}　{{item.id}}{% endif %}</small>
                    </strong>
                    <pre class="body" id="r{{loop.index}}b">{{render(item.text)|safe}}</pre>
                    <span id="r{{loop.index}}R" class="badge bg-success"></span>
                </div>
                {% endfor %}
            </div>

            <a href="/{{instance_id}}" class="btn btn-secondary btn-sm">掲示板に戻る</a>
            <a href="/" class="btn btn-secondary btn-sm">VEV</a>
        </div>

        <!-- 投稿フォーム -->
        <div class="card mt-4" id="form__">
            <div class="card-body body">
                <h5 class="card-title">コメントを投稿</h5>
                <div class="mb-2">
                    <label for="name" class="form-label">お名前</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="mb-2">
                    <label for="text" class="form-label">メッセージ</label>
                    <textarea id="text" class="form-control" rows="3"></textarea>
                </div>
                <button id="submit" class="btn btn-primary w-100">投稿</button>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- フッター -->
    <div class="bottom-nav mt-4 text-center bg-dark text-white py-3 position-fixed" style="bottom:0px; width:100vw" id="PAGE-2">
        <button onclick="history.back()" class="btn btn-secondary">◀</button>
        <span class="mx-2"></span>
        <button onclick="history.forward()" class="btn btn-secondary">▶</button>
        <span class="mx-2"></span>
        <a href="/{{instance_id}}/" class="btn btn-primary">🏡</a>
        <span class="mx-2"></span>
        <a href="/" class="btn btn-primary">V</a>
        <span class="mx-2"></span>
        <a href="/setting" class="btn btn-danger">⚙</a>
        <span class="mx-2"></span>
        <button id="dark-change" class="btn btn-secondary">🌙</button>
    </div>
    <audio src="/static/Notify.wav" id="notify"></audio>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/darkmode.js"></script>
    <script>
        $("#submit").click(() => {
            $.ajax({
                url: "/{{instance_id}}/mkrsp/{{thread.thrid}}",
                type: "POST",
                data: {
                    name: $("#name").val(),
                    text: $("#text").val()
                },
                success: () => {
                    $("#text").val("");
                }
            })
        });

        function poll() {
            fetch("/{{instance_id}}/poll/{{thread.thrid}}")
                .then((d) => d.json())
                .then((data) => {
                    var element = document.createElement("div");
                    element.className = "body response";
                    element.id = `r${data.index}`
                    if ("{{ hide_id }}" == "True") {
                        data.id = ""
                    }
                    element.innerHTML = `
                        <strong><a onclick="reply('${data.index}')" class="reply-button text-primary body" id="r${data.index}I">${data.index}</a>:
                        <span class="body">${data.name}</span>　
                        <small class="body">${data.timestamp}　${data.id}</small>
                        </strong>
                        <pre class="body" id="r${data.index}b">${data.text}</pre>
                        <span id="r${data.index}R" class="badge bg-success"></span>
                    `;
                    $("#thr")[0].appendChild(element);
                    $("#notify")[0].pause();
                    $("#notify")[0].currentTime=0;
                    $("#notify")[0].play();
                    dark_mode_change()
                    reply_render()
                    poll();
                })
                .catch((e) => {
                    console.error("error", e);
                    setTimeout(poll, 1000);
                });
        }

        poll();

        function reply(c) {
            $("#text").val(`>>${c}\n${$("#text").val()}`)
        }

        function xmas_del() {
            document.querySelectorAll(".snowflake").forEach((d)=>{
                d.remove();
            })
        }

        function reply_render() {
            document.getElementById("thr").querySelectorAll("div").forEach((d, i)=>{
                $(`#r${i}R`).html("")
            })
            document.getElementById("thr").querySelectorAll("div").forEach((d, i)=>{

                var replys = $(`#r${i+1}b`).text().match(/>>([0-9]+)/g)
                if (replys !== null) {
                    console.log(replys)
                    replys.forEach((e)=>{
                        console.log(e.replace(">>",""))
                        if ($(`#r${e.replace(">>","")}R`)[0].innerHTML == "") {
                            $(`#r${e.replace(">>","")}R`)[0].innerHTML=`<a class="reply_from" href='#r${i+1}'>&gt;&gt;${i+1}</a>`
                        } else {
                            $(`#r${e.replace(">>","")}R`)[0].innerHTML+=`　<a class="reply_from" href='#r${i+1}'>&gt;&gt;${i+1}</a>`
                        }
                    })

                } 

            })
        }

        reply_render()

    </script>

</body>
</html>
